.MuiButton-root:hover {
  background-color: purple !important;
}

.MuiButton-root {
  font-size: 16px !important;
  text-transform: inherit !important;
  padding: 5px 10px !important;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  box-shadow: 0 0 5px grey;
  text-align: center;
  border-radius: 12px;
  padding: 30px;
  font-size: 20px;
}

.app h1 {
  margin: 5px;
}

.app p {
  margin: 10px;
}

.app__jokeTypeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.app__jokeContainer {
  text-align: left;
}
